# Data Exploration:
## Here:
- Handle missing values and outliers.
- Encode categorical variables.
- Normalize/standardize numerical features.
- Split the data into training and testing sets.


- Script: scripts/data_preprocessing.py   (This file contains necessary reusable codes and function that we use down below)

#### Settings to make scripts in scripts/ accessible.  
- this creates a .vscode in a root that includes the root path as well as __pycache__ in scripts directory

In [6]:
import sys
import os

# Add the project root directory to the system path
sys.path.append(os.path.abspath(os.path.join("..", "scripts")))

#### Necessary imports

In [7]:
import pandas as pd # type: ignore
import numpy as np # type: ignore
import data_preprocessing as dp  # This is a script file.

#### Load data

In [8]:
df = dp.read_csv(path='../data/boston_house_prices.csv')
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

#### Handle missing values and outliers

In [9]:
# dropping the missing values using the function coded in data_preprocessing.py

df = dp.handle_missing_values(df)
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [10]:
# Checking and handling (if any) outliers using IQR statistics 

outliers_info , df_filterd = dp.handling_outliers(df)

print(f"Outliers information:  {outliers_info}")

Outliers information:  {'CRIM': 66, 'ZN': 45, 'INDUS': 0, 'CHAS': 34, 'NOX': 12, 'RM': 21, 'AGE': 0, 'DIS': 0, 'RAD': 55, 'TAX': 5, 'PTRATIO': 8, 'B': 25, 'LSTAT': 5, 'MEDV': 16}

In [11]:
#Data frame after removing outliers
df_filterd

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

#### Observation: with the IQR check. Using the lower bounds and upper bounds techniques multiple outliers were observed and removed to make ML work efficiently

#### Encode categorical variables

######  No categorical varaibles present in the dataset.  There are numeric data and cannot be limit to certain replacement.

#### Normalize/Standardize numerical features.

In [12]:
# Separate X and Y. X: Is everything expect the target, and Y is the target. i.e. Price
X = df_filterd.drop('MEDV', axis=1) 
Y = df_filterd['MEDV']

In [21]:
# NOrmalize X

X_normalised = dp.normalize_data(X)

In [27]:
# Standardize data
X_scaled, scaler = dp.standardize_data(X_normalised)

X_scaled

array([[-0.7851603 ,  0.89460434, -1.20901013, ..., -2.02620598,
         0.80946141, -1.36074317],
       [-0.71097775, -0.57240967, -0.29807632, ..., -0.52707695,
         0.80946141, -0.34769907],
       [-0.70200091, -0.57240967, -1.23388857, ...,  0.0126095 ,
         0.39213921, -1.30473352],
       ...,
       [-0.59275923, -0.57240967,  0.63199476, ...,  1.3918082 ,
         0.80946141, -1.20001983],
       [-0.42018495, -0.57240967,  0.63199476, ...,  1.3918082 ,
         0.29156155, -0.99546285],
       [-0.63994061, -0.57240967,  0.63199476, ...,  1.3918082 ,
         0.80946141, -0.65453454]])

#### Split the data into training and testing sets.

#### Splitted to 80%-20% (training - testing) data

In [31]:
X_train, X_test, y_train, y_test = dp.split_data(X, Y, 0.2)
print(X_train, X_test)

        CRIM   ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
104  0.13960  0.0   8.56     0  0.520  6.167  90.0  2.4210    5  384     20.9
297  0.14103  0.0  13.92     0  0.437  5.790  58.0  6.3200    4  289     16.0
139  0.54452  0.0  21.89     0  0.624  6.151  97.9  1.6687    4  437     21.2
213  0.14052  0.0  10.59     0  0.489  6.375  32.3  3.9454    4  277     18.6
122  0.09299  0.0  25.65     0  0.581  5.961  92.9  2.0869    2  188     19.1
..       ...  ...    ...   ...    ...    ...   ...     ...  ...  ...      ...
136  0.32264  0.0  21.89     0  0.624  5.942  93.5  1.9669    4  437     21.2
19   0.72580  0.0   8.14     0  0.538  5.727  69.5  3.7965    4  307     21.0
119  0.14476  0.0  10.01     0  0.547  5.731  65.2  2.7592    6  432     17.8
322  0.35114  0.0   7.38     0  0.493  6.041  49.9  4.7211    5  287     19.6
131  1.19294  0.0  21.89     0  0.624  6.326  97.7  2.2710    4  437     21.2

          B  LSTAT
104  392.69  12.33
297  396.90  15.84
139  396.90  18.46
213  385.81   9.38
122  378.09  17.93
..      ...    ...
136  378.25  16.90
19   390.95  11.28
119  391.50  13.61
322  396.90   7.70
131  396.90  12.26

[171 rows x 13 columns]         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
13   0.62976   0.0   8.14     0  0.538  5.949   61.8  4.7075    4  307
342  0.02498   0.0   1.89     0  0.518  6.540   59.7  6.2669    1  422
86   0.05188   0.0   4.49     0  0.449  6.015   45.1  4.4272    3  247
336  0.03427   0.0   5.19     0  0.515  5.869   46.3  5.2311    5  224
178  0.06642   0.0   4.05     0  0.510  6.860   74.4  2.9153    5  296
172  0.13914   0.0   4.05     0  0.510  5.572   88.5  2.5961    5  296
20   1.25179   0.0   8.14     0  0.538  5.570   98.1  3.7979    4  307
111  0.10084   0.0  10.01     0  0.547  6.715   81.6  2.6775    6  432
96   0.11504   0.0   2.89     0  0.445  6.163   69.6  3.4952    2  276
245  0.19133  22.0   5.86     0  0.431  5.605   70.2  7.9549    7  330
325  0.19186   0.0   7.38     0  0.493  6.431   14.7  5.4159    5  287
313  0.26938   0.0   9.90     0  0.544  6.266   82.8  3.2628    4  304
242  0.10290  30.0   4.93     0  0.428  6.358   52.9  7.0355    6  300
93   0.02875  28.0  15.04     0  0.464  6.211   28.9  3.6659    4  270
321  0.18159   0.0   7.38     0  0.493  6.376   54.3  4.5404    5  287
309  0.34940   0.0   9.90     0  0.544  5.972   76.7  3.1025    4  304
335  0.03961   0.0   5.19     0  0.515  6.037   34.5  5.9853    5  224
23   0.98843   0.0   8.14     0  0.538  5.813  100.0  4.0952    4  307
63   0.12650  25.0   5.13     0  0.453  6.762   43.4  7.9809    8  284
327  0.24103   0.0   7.38     0  0.493  6.083   43.7  5.4159    5  287
127  0.25915   0.0  21.89     0  0.624  5.693   96.0  1.7883    4  437
501  0.06263   0.0  11.93     0  0.573  6.593   69.1  2.4786    1  273
503  0.06076   0.0  11.93     0  0.573  6.976   91.0  2.1675    1  273
340  0.06151   0.0   5.19     0  0.515  5.968   58.5  4.8122    5  224
249  0.19073  22.0   5.86     0  0.431  6.718   17.5  7.8265    7  330
133  0.32982   0.0  21.89     0  0.624  5.822   95.4  2.4699    4  437
43   0.15936   0.0   6.91     0  0.448  6.211    6.5  5.7209    3  233
36   0.09744   0.0   5.96     0  0.499  5.841   61.4  3.3779    5  279
318  0.40202   0.0   9.90     0  0.544  6.382   67.2  3.5325    4  304
21   0.85204   0.0   8.14     0  0.538  5.965   89.2  4.0123    4  307
75   0.09512   0.0  12.83     0  0.437  6.286   45.0  4.5026    5  398
239  0.09252  30.0   4.93     0  0.428  6.606   42.2  6.1899    6  300
294  0.08199   0.0  13.92     0  0.437  6.009   42.3  5.5027    4  289
120  0.06899   0.0  25.65     0  0.581  5.870   69.7  2.2577    2  188
89   0.05302   0.0   3.41     0  0.489  7.079   63.1  3.4145    2  270
495  0.17899   0.0   9.69     0  0.585  5.670   28.8  2.7986    6  391
314  0.36920   0.0   9.90     0  0.544  6.567   87.3  3.6023    4  304
270  0.29916  20.0   6.96     0  0.464  5.856   42.1  4.4290    3  223
125  0.16902   0.0  25.65     0  0.581  5.986   88.4  1.9929    2  188
109  0.26363   0.0   8.56     0  0.520  6.229   91.2  2.5451    5  384
130  0.34006   0.0  21.89     0  0.624  6.458   98.9  2.1185    4  437
350  0.06211  40.0   1.25     0  0.429  6.490   44.4  8.7921    1  335
80   0.04113  25.0   4.86     0  0.426  6.727   33.5  5.4007    4  281

     PTRATIO       B  LSTAT
13      21.0  396.90   8.26
342     15.9  389.96   8.65
86      18.5  395.99  12.86
336     20.2  396.90   9.80
178     16.6  391.27   6.92
172     16.6  396.90  14.69
20      21.0  376.57  21.02
111     17.8  395.59  10.16
96      18.0  391.83  11.34
245     19.1  389.13  18.46
325     19.6  393.68   5.08
313     18.4  393.39   7.90
242     16.6  372.75  11.22
93      18.2  396.33   6.21
321     19.6  396.90   6.87
309     18.4  396.24   9.97
335     20.2  396.90   8.01
23      21.0  394.54  19.88
63      19.7  395.58   9.50
327     19.6  396.90  12.79
127     21.2  392.11  17.19
501     21.0  391.99   9.67
503     21.0  396.90   5.64
340     20.2  396.90   9.29
249     19.1  393.74   6.56
133     21.2  388.69  15.03
43      17.9  394.46   7.44
36      19.2  377.56  11.41
318     18.4  395.21  10.36
21      21.0  392.53  13.83
75      18.7  383.23   8.94
239     16.6  383.78   7.37
294     16.0  396.90  10.40
120     19.1  389.15  14.37
89      17.8  396.06   5.70
495     19.2  393.29  17.60
314     18.4  395.69   9.28
270     18.6  388.65  13.00
125     19.1  385.02  14.81
109     20.9  391.23  15.55
130     21.2  395.04  12.60
350     19.7  396.90   5.98
80      19.0  396.90   5.29

In [32]:
print(y_train, y_test)

104    20.1
297    20.3
139    17.8
213    28.1
122    20.5
       ...
136    17.4
19     18.2
119    19.3
322    20.4
131    19.6
Name: MEDV, Length: 171, dtype: float64 13     20.4
342    16.5
86     22.5
336    19.5
178    29.9
172    23.1
20     13.6
111    22.8
96     21.4
245    18.5
325    24.6
313    21.6
242    22.2
93     25.0
321    23.1
309    20.3
335    21.1
23     14.5
63     25.0
327    22.2
127    16.2
501    22.4
503    23.9
340    18.7
249    26.2
133    18.4
43     24.7
36     20.0
318    23.1
21     19.6
75     21.4
239    23.3
294    21.7
120    22.0
89     28.7
495    23.1
314    23.8
270    21.1
125    21.4
109    19.4
130    19.2
350    22.9
80     28.0
Name: MEDV, dtype: float64

#### Inorder to use testing and training data explicitely across the project, let us save the file in CSV format (.csv)

In [33]:
# Change np array to dataframe to save to CSV using dataframe

X_train_df = pd.DataFrame(X_train)
X_test_df = pd.DataFrame(X_test)

In [34]:
X_train_df.to_csv('../data/X_train.csv', index= False)
X_test_df.to_csv('../data/X_test.csv', index= False)

In [41]:
X.to_csv('../data/only_x.csv', index= False)
Y.to_csv('../data/only_y.csv', index= False)

In [35]:
# Saving remaining np array without changing to pandas dataframes

np.savetxt('../data/y_train.csv',y_train, delimiter=',' )
np.savetxt('../data/y_test.csv',y_test, delimiter=',' )

####